ss3roms.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

test/*
test_negEKE/*
test_posEKE/*
test_rec/*
inst/extdata/models/PacificHake/*
inst/extdata/models/retrospectives/*

!*/forecast.ss
!*/hake_control.ss
!*/hake_data.ss
!*/starter.ss
!*/wtatage.ss

!inst/extdata/models/PacificHake/forecast.ss
!inst/extdata/models/PacificHake/hake_control.ss
!inst/extdata/models/PacificHake/hake_data.ss
!inst/extdata/models/PacificHake/starter.ss
!inst/extdata/models/PacificHake/wtatage.ss

!inst/extdata/models/retrospectives/*/forecast.ss
!inst/extdata/models/retrospectives/*/hake_control.ss
!inst/extdata/models/retrospectives/*/hake_data.ss
!inst/extdata/models/retrospectives/*/starter.ss
!inst/extdata/models/retrospectives/*/wtatage.ss

*.png